########################################
#             MSVC Build               #
########################################
ipch/
**/qrc_*.cpp
**/*.cxx
**/*.cxx_parameters
**/moc_*.cpp
**/moc_*.cpp_parameters
**/*.vcxproj
**/*.vcxproj.filters
**/CMakeFiles/
*/Debug
*/*/Debug
*/*/*_lib.dir
extlibs/trotl/src/trotl.dir/
#**/Release/
**/cmake_install.cmake
**/*.depends
**/*.sln
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
TOra.opensdf
TOra.VC.opendb
TOra.sdf
cmake_uninstall.cmake
**/*.wixobj
**/*.wixpdb
**/*.lib

########################################
#             Generated source(s)      #
########################################
toversion.h
gitrevision.h
gitrevision.h.txt
gitrevision.txt
src/ui_*.h
src/tora_toad.qm
**/*.dir/
**/RelWithDebInfo/
**/Release/
**/Debug/
extlibs/libantlr3c-3.5.1/antlr3config.h
**/heat.wxs
**/*.wxi
**/*.msi
**/*.a
TOra.VC.VC.opendb
TOra.VC.db
gitrevision.bat

########################################
#             Eclise                   #
########################################
.cproject
.project
.vs/
.settings/

.gitignore~
**/*~
**/*.p12
**/*.rej
**/*.orig

########################################
#             cmake                    #
########################################
# build directory naming convention
build/
LastVersion.txt
