<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\..\gitrevision.wxi ?>
  <?include $(sys.CURRENTDIR)\variables.wxi ?>
  <Product Id="*" 
	   Name="$(var.ProductName)" Language="1033" 
	   Version="$(var.ProductVersion)"
	   Manufacturer="TOra" 
	   UpgradeCode="$(var.UpgradeCode)">
    <Package Description="$(var.ProductName)"
	     Comments="Tora tool for Oracle" 
	     Platform="$(var.Platform)"
	     InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="Tora.cab" EmbedCab="yes" />
    <Icon Id="tora.ico" SourceFile="$(var.PROJECT_SOURCE_DIR)\src\icons\tora.ico" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" /> <!-- needed by InstallScopeDlg-->
    <Property Id="ApplicationFolderName" Value="Tora" /> <!-- needed by InstallScopeDlg-->
    <Property Id="ARPPRODUCTICON" Value="tora.ico" />
    <Property Id="ARPHELPLINK" Value="http://torasql.com" />
    <Property Id="ARPURLINFOABOUT" Value="http://torasql.com" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)"
		      Key="Software\TOra\TOra" Name="InstallLocation" />
    </Property>
    
    <WixVariable Id="WixUIBannerBmp" Value="largelogo.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.PROJECT_SOURCE_DIR)\COPYING.RTF" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion 
	  OnlyDetect="no" 
	  Minimum="0.0.0.0" IncludeMinimum="yes"
	  Maximum="$(var.ProductVersion)" IncludeMaximum="no" 
	  Property="PREVIOUSFOUND" />
    </Upgrade>
    <!--
	<Condition Message="A newer version of this software is already installed.">
	NOT NEWERVERSIONDETECTED
	</Condition>
    -->
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
	<Directory Id="APPLICATIONFOLDER" Name="Tora"/>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="Tora">
          <Component Id="ApplicationShortcuts"
		     Guid="6e6901f0-d92a-43da-95bd-f21e48b5b37a">
            <Shortcut Id="ApplicationShortcut1" Name="Tora"
		      Description="Tora tool for Oracle"
		      Target="[APPLICATIONFOLDER]Tora.exe"
		      WorkingDirectory="APPLICATIONFOLDER" />
	    <Shortcut Id="UninstallProduct"             
		      Name="Uninstall Tora"
		      Description="Uninstalls Tora"
		      Target="[$(var.PlatformSystemFolder)]msiexec.exe"
		      Arguments="/x [ProductCode]"/>
            <RegistryValue Root="HKCU" Key="Software\TOra\TOra"
			   Name="installed" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
 
      <Directory Id="DesktopFolder" Name="Desktop">
	<Component Id="DesktopShortcut" Guid="EC9BAF82-9766-481B-8E03-62754F190BBB">
	  <Condition>INSTALLDESKTOPSHORTCUT</Condition>
	  <CreateFolder/>
	  <RegistryKey Root="HKCU" Key="Software\TOra\TOra">
	    <RegistryValue Name="DTSC" Value="1" Type="integer" KeyPath="yes" />
	  </RegistryKey>
	  <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Tora" Target="[tora.exe]" WorkingDirectory="APPLICATIONFOLDER" />
	</Component>
      </Directory>
    </Directory>

    <InstallExecuteSequence>
      <!--<RemoveExistingProducts After="InstallValidate" />-->
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <!-- Reference heat generated fragment -->
      <ComponentGroupRef Id="ToraFiles" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <!--<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />-->
    <!--<UIRef Id="MyWixUI_InstallDir" />-->
    <UIRef Id="MyWixUI_Advanced"/>

    <!-- Step 3: Include the custom action -->
    <!--<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Tora" />-->
    <!--<CustomAction Id="LaunchApplication" FileKey="tora.exe" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />-->
    <!--<UI> -->
    <!--  <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="LaunchApplication">LAUNCHAPPONEXIT AND NOT (WixUI_InstallMode = "Remove")</Publish>-->
    <!--  <Publish Dialog="ExitDialog" Control="Finish" Order="1" Event="DoAction" Value="StartAppOnExit">WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT</Publish>-->
    <!--</UI> -->
  </Product>
</Wix>
