Source: tora
Section: misc
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Michael Meskes <meskes@debian.org>
Build-Depends: debhelper (>= 5), kdelibs5-dev, kdebase-bin, dpatch, libqscintilla2-dev, cdbs, libpq-dev
Standards-Version: 3.8.1
Homepage: http://sourceforge.net/projects/tora/
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/tora.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/tora.git

Package: tora
Architecture: any
Depends: libqt4-sql, ${shlibs:Depends}, ${misc:Depends}
Description: A graphical toolkit for database developers and administrators
 Tora features a schema browser, SQL worksheet, PL/SQL editor & debugger,
 storage manager, rollback segment monitor, instance manager, and SQL output
 viewer. Via qt4 it can access PostgreSQL and MySQL directly. Any other
 database systems can be accessed via ODBC.
